<a [routerLink]="['/restaurants']">Back</a>
<br />
<h2 class="page-header" style="padding-top:50px;">Tax Configuration</h2>
<form (submit)="onTaxConfiguration()">
  <div class="form-group">
    <label>Tax Percent</label>
    <input class="form-control" type="text" [(ngModel)]="percent" name="percent" required>
  </div>

  
  
  <input type="submit" value="submit" class="btn btn-success">
</form>