<div class="row">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb px-0" *ngFor="let item of sliders" >
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
         data-target="#image-gallery">
          <img class="img-thumbnail"
               [src]="item.firebase_url"
               alt="Another alt text">
               <div class="actions">
                  <i class="fa fa-edit mr-3" [routerLink]="'/edit-slider/'+item.$key"></i>
                  <i class="fa fa-trash" (click)=deleteSlider(item.$key)></i>
               </div>
      </a>

      <div class="text-info text-center">
         <span>Slider Type: {{item.type}} </span>
      </div>
  </div>
</div>
