<section class="row mt-5">
    <div class="col">


        <a [routerLink]="['/edit-about']">Edit About</a>

        <div class="row">
            <div class="jumbotron" *ngFor="let item of about">
                <h1 class="display-4"><span class="main_text">App Name:</span>{{item.abouttitle}}</h1>
                <h2 class="light">App Version:<span class="sub_text">{{item.app_version}}</span>
                </h2>
                <p class="lead">Description: <br> {{item.aboutdesc}}</p>
                <hr class="my-4">

                <div>
                    <ul class="list-group">
                        <li class="list-group-item">EMAIL : {{item.email}}</li>
                        <li class="list-group-item">FACEBOOK : {{item.facebook}}</li>
                        <li class="list-group-item">TELEGRAM : {{item.telegram}}</li>
                        <li class="list-group-item">VIBER : {{item.viber}} </li>
                        <li class="list-group-item">INSTAGRAM : {{item.instagram}}</li>
                        <li class="list-group-item">WHATSAPP : {{item.whatsapp}}</li>
                        <li class="list-group-item">YOUTUBE : {{item.youtube}}</li>
                        <li class="list-group-item">PHONE NO.1 : {{item.phone1}}</li>
                        <li class="list-group-item">PHONE NO.2 : {{item.phone2}}</li>
                        <li class="list-group-item">ADDRESS : {{item.adresss}} </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</section>