.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    padding-top: 2px;
}

.sub_text {
    font-size: 25px;
    font-weight: 500;
    padding-left: 10px;
}
.main_text {
    font-size: 40px;
    font-weight: 100;
    padding-right: 10px;
}
