<section class="row mt-5">

  <div class="col">

    <a [routerLink]="['/vendors']">All Vendors</a>

    <br>

    <h2 class=" page-header ">Add A New Vendor</h2>

    <div class=" container-12 ">

      <form name="formBook" #formBook="ngForm" (ngSubmit)="onVendorAddSubmit()">

        <div class=" form-group">

          <label>Vendor Name</label>
          <input type="text" class="form-control" [(ngModel)]="ven_name" name="ven_name" required>

        </div>

        <div class=" form-group">

          <label>Shop Name</label>
          <input type="text" class=" form-control" [(ngModel)]="shopname" name="shopname" required>

        </div>

        <div class=" form-group">

          <label>Latitude</label>
          <input type="text" class="form-control" [(ngModel)]="latitude" name="latitude" required>

        </div>

        <div class=" form-group">

          <label>Longitude</label>
          <input type="text" class="form-control" [(ngModel)]="longitude" name="longitude" required>

        </div>

        <div class=" form-group">

          <label>Address</label>
          <input type="text" class="form-control" [(ngModel)]="address" name="address" required>

        </div>

        <div class=" form-group">

          <label>Phone Number 1</label>
          <input type="tel" class="form-control" [(ngModel)]="phone1" name="phone1" required>

        </div>

        <div class=" form-group">

          <label>Phone Number 2</label>
          <input type="tel" class="form-control" [(ngModel)]="phone2" name="phone2" required>

        </div>

        <div class=" form-group">

          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required>

        </div>

        <div class=" form-group">

          <label>Shop Logo</label>
          <input type="file" class=" form-control-file" [(ngModel)]="logo" name="logo" id="logo">

        </div>

        <div class="form-group">

          <label>Expire Date</label>
          <input type="date" class="form-control" [(ngModel)]="date" name="date">

        </div>

        <div class="form-group">

          <label>Status</label>
          <select class="form-control" name="status" id="status" [(ngModel)]="status" type="text">
            <option value="active">Active</option>
            <option value="inactive">InActive</option>
            <option value="expired">Expired</option>
          </select>

        </div>


        <input type="submit" value="Submit" class="btn btn-success">

      </form>

    </div>

  </div>

</section>