<ul class = "list-group">

	<h2>Suspended Restaurants</h2>
	
	<div class="row" >
		  <div class="col-xs-12 col-md-12" >
		  
		  <div class="panel panel-default" >
			  <!-- Table -->
			  <table class="table">
				<tr>
					
					<td style = "width:25%;">
						<b style = "text-align: center;">Restaurant Image</b>
					</td>
					<td style = "width:25%;">
						<p style = "text-align: center;"><b >Restaurant Name</b></p>
					</td>
					
					<td style = "width:25%;">					
						<p style = "text-align: center;"><b >Phonenumber</b></p>
					</td>

					<td style = "width:25%;">
						<p style = "text-align: center;"><b> Action</b></p>
					</td>					
					
					
				</tr>
			  </table>
			  
			  
			  <table class="table" *ngFor="let sus of suspendedRestaurants">
			  
			  
			  
				<tr>
					
					<td style = "width:25%;">
						<img style="width:240px;height:100px;" class="thumbnail" src="{{sus.firebase_url}}">
					</td>
					<td style = "width:25%;">
						<p style = "text-align: center;">{{sus.title}}</p>
					</td>
			
				
					<td style = "width:25%;">					
						<p style = "text-align: center;">{{sus.phonenumber}}</p>
					</td>
					
					<td style = "width:25%;text-align:center;">
					
						
						<a (click)="onActiveRestaurant(sus)" class = "btn btn-warning" >Active Restaurant</a>
					</td>					
					
					
				</tr>
				
				
			  </table>
		</div>
				
				
				
				
				
				
				
			
				
				
		  </div>
	</div>


</ul>