<nav [ngClass]="{'bg-success': isLoggedVendor}" class="navbar navbar-static-top navbar-expand-md navbar-dark fixed-top bg-primary">
  <a *ngIf="!isLoggedVendor" class="navbar-brand" routerLink="/">Super Admin Webbackend</a>
  <a *ngIf="isLoggedVendor" class="navbar-brand" routerLink="/">Each Vendor Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <nav *ngIf="isLoggedVendor" class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <a class="navbar-brand" routerLink="/">Each Vendor Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <div class="collapse navbar-collapse" id="mainNavbar">

    <ul class="navbar-nav ml-auto">

      <!-- <li class="dropdown" *ngIf="isLogged">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Details<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/about" style="padding-left:20px;">About</a></li>
          <li><a routerLink="/edit-about" style="padding-left:20px;">Edit About</a></li>
        </ul>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/reports">Reports</a>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/restaurants">Restaurants</a>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/add-new-restaurant">Add Restaurant</a>
      </li> -->

      <li class="nav-item" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>

      <li class="nav-item" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" routerLink="/add-category">Add Category</a>
      </li>

      <li class="dropdown" *ngIf="isLogged ">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Items<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/items" style="padding-left:20px;">Items</a></li>
          <li><a routerLink="/add-item" style="padding-left:20px;">Add New Item</a></li>
        </ul>
      </li>




      <li class="dropdown" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Address<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/city-configuration" style="padding-left:20px;">Cities</a></li>
          <li><a routerLink="/add-new-city" style="padding-left:20px;">Add New City</a></li>
          <li><a routerLink="/add-district" style="padding-left:20px;">Districts</a></li>
          <li><a routerLink="/add-new-district" style="padding-left:20px;">Add New District</a></li>
          <!-- <li><a routerLink="/add" style="padding-left:20px;">Streets</a></li>
          <li><a routerLink="/add-new-street" style="padding-left:20px;">Add New Street</a></li>
          <li><a routerLink="/add-building" style="padding-left:20px;">Buildings</a></li>
          <li><a routerLink="/add-new-building" style="padding-left:20px;">Add New Building</a></li> -->

        </ul>
      </li>

      <li class="dropdown" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Vendors<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/vendors" style="padding-left:20px;">Vendors</a></li>
          <li><a routerLink="/add-vendor" style="padding-left:20px;">Add New Vendor</a></li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Settings<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li>
            <a routerLink="/about" style="padding-left:5px;">About</a>
          </li>
          <!-- <li> <a routerLink="/add-paypal" style="padding-left:5px;">Paypal Configuration</a> </li>
          <li>
            <a routerLink="/add-stripe" style="padding-left:5px;">Stripe Configuration</a>
          </li>
          <li>
            <a routerLink="/tax" style="padding-left:5px;">Tax Configuration</a>
          </li> -->

        </ul>
      </li>

      <li class="dropdown" *ngIf="isLogged">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Orders<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/orders" style="padding-left:20px;">Orders</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="nav-link" *ngIf="isLogged && !isLoggedVendor" data-toggle="dropdown" href="#" id="themes">Manage
          Sliders<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/sliders" style="padding-left:20px;">sliders</a></li>
          <li><a routerLink="/add-slider" style="padding-left:20px;">Add Slider</a></li>
        </ul>
      </li>



      <!-- <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/login">Login
        </a>
      </li>-->


      <li class="dropdown" *ngIf="isLogged && !isLoggedVendor">
        <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Users<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li><a routerLink="/users/list" style="padding-left:20px;">List</a></li>
          <li><a routerLink="/users/register" style="padding-left:20px;">Register</a></li>

        </ul>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a href="#" class="nav-link" (click)="onLogout()">Logout
        </a>
      </li>

    </ul>
  </div>
</nav>