<div style="padding-top:60px;">
	<a [routerLink]="['/restaurants']">Back</a>
	<br />
	<h2 class="page-header">Edit Restaurant</h2>
</div>

<div>
	<form name="formBook" #formBook="ngForm" (ngSubmit)="onEditRestaurant()">

		<div class="form-group">
			<label>Title</label>
			<input class="form-control" type="text" [(ngModel)]="title" name="title" required>
		</div>


		<div class="form-group">
			<label>Vendor Name</label>
			<select class="form-control" [(ngModel)]="ven_name" name="ven_name" (change)="setVendorDetails($event)"
				required>
				<option *ngFor="let vendor of vendorList" [value]="vendor.$key">{{vendor.ven_name}} </option>
			</select>
		</div>

		<div class="form-group">
			<label>Address</label>
			<input class="form-control" type="text" [(ngModel)]="address" name="address" required>
		</div>



		<div class="form-group">
			<label>Description</label>
			<input class="form-control" type="text" [(ngModel)]="description" name="description" required>
		</div>








		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="form-group">
					<label>lat</label>
					<input class="form-control" type="double" [(ngModel)]="lat" name="lat" required>
				</div>
			</div>

			<div class="form-group col-md-6">
				<div class="form-group">
					<label>long</label>
					<input class="form-control" type="double" [(ngModel)]="long" name="long" required>
				</div>
			</div>
		</div>


		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="form-group">
					<label>Info</label>
					<input class="form-control" type="text" [(ngModel)]="info" name="info" required>
				</div>
			</div>

			<div class="form-group col-md-6">
				<div class="form-group">
					<label>mark</label>
					<input class="form-control" type="text" [(ngModel)]="mark" name="mark" required>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label>option</label>
			<input class="form-control" type="number" [(ngModel)]="option" name="option" required>
		</div>

		<div class="form-group">
			<label>outlet</label>
			<input class="form-control" type="text" [(ngModel)]="outlet" name="outlet" required>
		</div>
		<div class="form-group">
			<label>phonenumber</label>
			<input class="form-control" type="text" [(ngModel)]="phonenumber" name="phonenumber" required>
		</div>


		<div class="form-group" *ngIf="!this.inputImageUser.nativeElement.value">

			<img style="width:25%;height:150px;" class="thumbnail" src="{{firebase_url}}">


		</div>

		<div class="form-group" *ngIf="this.inputImageUser.nativeElement.value">

			<img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">


		</div>


		<hr>
		<div class="form-group">
			<h5>Select image:</h5>
			<input type="file" accept=".png, .jpg" (change)="onUpload($event)">
		</div>
		<div class="progress">
			<div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'"
				class="progress-bar progress-bar-striped bg-success" role="progressbar"
				[style.width]="(uploadPercent | async) +'%'">

			</div>
		</div>
		<br>
		<input #imageUser type="hidden" [value]="urlImage | async">


		<div class="form-group">

			<button type="submit" class="btn btn-primary">Save Book</button>
		</div>



	</form>

</div>