<section class="row mt-5">
	<div class="col">


		<a [routerLink]="['/restaurants']">Back</a>
		<br />
		<h2 class="page-header">Add New Restaurant</h2>

		<form name="formBook" #formBook="ngForm" (ngSubmit)="onAddRestaurant()">

			<div class="form-group">
				<label>Title</label>
				<input class="form-control" type="text" [(ngModel)]="title" name="title" required>
			</div>


			<div class="form-group">
				<label>Vendor Name</label>
				<select class="form-control" [(ngModel)]="ven_name" name="ven_name" (change)="setVendorDetails($event)"required>
					<option *ngFor="let vendor of vendorList" [value]="vendor.$key">{{vendor.ven_name}} </option>
				</select>
			</div>


			<div class="form-group">
				<label>Address</label>
				<input class="form-control" type="text" [(ngModel)]="address" name="address" required>
			</div>



			<div class="form-group">
				<label>Description</label>
				<input class="form-control" type="text" [(ngModel)]="description" name="description" required>
			</div>



			<div class="form-row">
				<div class="form-group col-md-6">
					<div class="form-group">
						<label>Latitude</label>
						<input class="form-control" type="double" [(ngModel)]="lat" name="lat" required>
					</div>
				</div>

				<div class="form-group col-md-6">
					<div class="form-group">
						<label>Longitude</label>
						<input class="form-control" type="double" [(ngModel)]="long" name="long" required>
					</div>
				</div>
			</div>


			<div class="form-row">
				<div class="form-group col-md-6">
					<div class="form-group">
						<label>Info</label>
						<input class="form-control" type="text" [(ngModel)]="info" name="info" required>
					</div>
				</div>

				<div class="form-group col-md-6">
					<div class="form-group">
						<label>Mark</label>
						<input class="form-control" type="text" [(ngModel)]="mark" name="mark" required>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label>Option</label>
				<input class="form-control" type="number" [(ngModel)]="option" name="option" required>
			</div>

			<div class="form-group">
				<label>Outlet</label>
				<input class="form-control" type="text" [(ngModel)]="outlet" name="outlet" required>
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input class="form-control" type="text" [(ngModel)]="phonenumber" name="phonenumber" required>
			</div>



			<div class="form-group">
				<input id="image" name="image" [(ngModel)]="image" type="file">
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save Book</button>
			</div>

		</form>

	</div>

</section>