<section class="row mt-5">
  <div class="col">

		<a [routerLink]="['/streets']">Back</a>
		<br />
		<h2 class="page-header">Add New Street</h2>
		<form (submit)="addStreetName()">
		  <div class="form-group">
			<label>Street Name</label>
			<input class="form-control" type="text" [(ngModel)]="streetName" name="streetName" required>
		  </div>
		  
		  
		  <input type="submit" value="submit" class="btn btn-success">
		</form>
		
		
	</div>
	
</section>