<div class="container">
	<section class="row mt-5">
		<div class="col">
	
			<a [routerLink]="['/items']">Back</a>
			<br />
			<h2 class="page-header">Add New Item</h2>
	
			<form (submit)="onItemAddSubmit()">
	
	
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" type="text" [(ngModel)]="name" name="name" required>
				</div>
	
	
				<div class="form-group">
	
					<label>Sort</label>
					<input class="form-control" type="number" name="sort" [(ngModel)]="sort" required>
	
				</div>
	
				<div class="form-row">
					<div class="col">
						<div class="form-group">
	
							<label>Category</label>
							<select class="form-control" type="text" [(ngModel)]="categories" name="categories" required
								(change)="setParentCategory(categories)">
								<option *ngFor="let category of categoryList" [value]="category.$key">{{category.cat_name}}
								</option>
							</select>
	
						</div>
					</div>
	
					<div class="col">
						<div class="form-group">
	
							<label>Sub Category</label>
							<select class="form-control" type="text" [(ngModel)]="sub_category" name="sub_category"
								id="sub_category">
								<option *ngFor="let category of sub_categoryList" [value]="category.$key">
									{{category.cat_name}}
								</option>
							</select>
	
						</div>
					</div>
				</div>
	
	
	
	
				<div *ngIf="!isVendor"  class="form-group">
	
					<label>Vendor</label>
					<select class="form-control" type="text" [(ngModel)]="vendor" name="vendor" id="vendor">
						<option *ngFor="let vendor of vendorList" [value]="vendor.$key">{{vendor.ven_name}}
						</option>
					</select>
	
				</div>
	
				<div class="form-group">
					<label>Description</label>
					<input class="form-control" type="text" [(ngModel)]="description" name="description" required>
				</div>
	
				<div class="form-group">
					<label>Availability</label>
					<select class="form-control" [(ngModel)]="available" name="available" required>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
				</div>
	
				<div *ngIf="!isVendor" class="form-group">
					<label>Featured</label>
					<select class="form-control" [(ngModel)]="feature" name="feature" required>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
				</div>
	
				<div *ngIf="!isVendor" class="form-group">
					<label>New Arrival</label>
					<select class="form-control" [(ngModel)]="new_arrival" name="new_arrival" required>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
				</div>
	
				<div class="form-group">
					<label>Featured Image</label>
					<input class=" form-control-file" id="image" name="image" [(ngModel)]="image" type="file">
				</div>
	
				<div class="form-row">
	
					<div class="col">
						<div class="form-group">
							<label>Price</label>
							<input class="form-control" type="number" [(ngModel)]="price" name="price" required>
						</div>
					</div>
	
					<div class="col">
						<div class="form-group">
							<label>Sale Price</label>
							<input class="form-control" type="number" [(ngModel)]="saleprice" name="saleprice" required>
						</div>
					</div>
	
					<div class="col">
						<div class="form-group">
							<label>Percent</label>
							<input class="form-control" type="number" [(ngModel)]="percent" name="percent" required>
						</div>
					</div>
	
				</div>
	
				<div class="form-row">
	
					<div class="col">
						<div class="form-group">
							<label>Stock</label>
							<input class="form-control" type="number" [(ngModel)]="stock" name="stock" required>
						</div>
					</div>
	
					<div class="col">
						<label>Status</label>
						<select class="form-control" type="text" name="status" [(ngModel)]="status">
							<option value="active">Active</option>
							<option value="inactive">InActive</option>
						</select>
					</div>
	
				</div>
	
				<div class="form-row">
	
					<div class="col-11">
						<div class="form-group">
							<label>Colour</label>
							<input class="form-control" type="text" name="color" [(ngModel)]="color">
						</div>
					</div>
	
					<div class="col-1">
						<a class="left" (click)="addColor(color)"><i class="add fa fa-plus"></i></a>
					</div>
				</div>
	
				<div class="row">
					<div class="col">
						<span class="show-colors" *ngFor="let color of colors;let i = index">
							<i (click)="removeColor(i)" class="remove fa fa-minus"></i>
							{{color}} ,
						</span>
					</div>
				</div>
	
				<div class="form-row">
	
					<div class="col-11">
						<div class="form-group">
							<label>Sizes</label>
							<input class="form-control" type="text" name="color" [(ngModel)]="size">
						</div>
					</div>
	
					<div class="col-1">
						<a class="left" (click)="addSize(size)"><i class="add fa fa-plus"></i></a>
					</div>
				</div>
	
				<div class="row">
					<div class="col">
						<span class="show-colors" *ngFor="let size of sizes;let i = index">
							<i (click)="removeSize(i)" class="remove fa fa-minus"></i>
							{{size}} ,
						</span>
					</div>
				</div>
	
				<input type="submit" value="Submit" class="btn btn-success">
			</form>
	
		</div>
	
	</section>
</div>
