<section class="row mt-5">
	<div class="col">

		<ul class="list-group">

			<div class="row">
				<div class="col-xs-12 col-md-12">

					<div class="panel panel-default">
						<!-- Table -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">User Name</th>
									<th scope="col">Email Address</th>
									<th scope="col">Phone Number</th>
									<th scope="col">Role</th>
									<th scope="col">Status</th>
									<th scope="col">Vendor Name</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let user of users; let i = index">
									<th scope="row">{{i}}</th>
									<td>{{user.displayName}}</td>
									<td>{{user.email}}</td>
									<td>{{user.phone}}</td>
									<td>{{user.roles?.admin ? 'admin' : user.roles?.vendor ? 'vendor' : user.roles?.buyer ? 'buyer' : '' }}</td>
									<td>{{user.status}}</td>
									<td>{{user.ven_name}}</td>
									<td>
										<div class="actions">
											<i class="fa fa-trash" (click)=deleteUser(user.$key)></i>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- <table class="table">
							<tr>

								<td>
									<b>ID</b>
								</td>

								<td>
									<b>User Name</b>
								</td>

								<td>
									<b>Email Address</b>
								</td>


								<td>
									<b>Phone Number</b>
								</td>

								<td>
									<b>Status</b>
								</td>

								<td>
									<b>Action</b>
								</td>


							</tr>
						  </table> -->



						<!-- <table class="table" *ngFor="let user of users; let i = index">
							<tr>

                <td>
                  <p>{{i}}</p>
								</td>

								<td>
									<p>{{user.displayName}}</p>
								</td>


								<td>
									<p>{{user.email}}</p>
								</td>

								<td>
									<p>{{user.phone}}$</p>
								</td>

								<td>
									<b>{{user.status}}</b>
								</td>

								<td>
									<a class = "btn btn-primary" [routerLink] = "['/user-details/'+user.$key]">View</a>
								</td>



							</tr>
						  </table> -->


					</div>










				</div>
			</div>




		</ul>

	</div>
</section>