<section class="row mt-5">
	<div class="col">
		<div *ngIf="districts">
			<h2 class="page header">Districts </h2>

			<div class=" text-right">
				<button class="btn btn-danger">
					<a [routerLink]="['/add-new-district']" style="color:white; text-align: right;">Add
						District</a>
				</button>
			</div>

			<br>
			
			<div class="row">
				<div class="col-md-4">
				</div>
				<table class="table">

					<tr>
						<td>
							<b>District ID</b>
						</td>


						<td>
							<b>District Name</b>
						</td>

						<td>
							<b>City Name</b>
						</td>

						<td>
							<b>Status</b>
						</td>


						<td>
							<b>Action</b>
						</td>

					</tr>
				</table>
				<div *ngFor="let item of districts" style="width:100%;">
					<div style="background-color:#00bfff;color:white;width:100%;">
					</div>
					<table class="table">
						<tr>

							<td>
								<p>{{item.$key}}</p>
							</td>

							<td>
								<p>{{item.name}}</p>
							</td>

							<td>
								<p>{{getCityName(item.city)}}</p>
							</td>

							<td>
								<p>{{item.status}}</p>
							</td>

							<!---					
											<a [routerLink]="['/edit-extra-food/' + item.$key]" class = "btn btn-warning" >Edit</a>
											---->

							<!--
											<a (click)="onExtraItemEdit(item.$key)" class = "btn btn-warning" >Edit</a>
											
											<a (click)="onExtraItemDelete(item.$key)" class = "btn btn-danger" >Delete</a>
											-->
							<td>
								<button class="btn btn-warning">
									<a [routerLink]="['/edit-district/'+item.$key]" style="color:white;">Edit
										District</a>
								</button>

								<button (click)="deleteDistrict(item.$key)" class="btn btn-success">
									<a style="color:white;">Delete</a>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>