<div class="container-fluid">
  <section class="row mt-5">
    <div class="col">
      <a [routerLink]="['/vendors']">All Vendors</a>
      <br />
      <h2 class="page-header">Edit Vendors</h2>

      <form name="formBook" #formBook="ngForm" (ngSubmit)="onVendorEditSubmit()" class="container">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb px-0">
          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-target="#image-gallery">
            <img class="img-thumbnail" [src]="
                !this.inputImageuser.nativeElement.value
                  ? firebase_url
                  : this.inputImageuser.nativeElement.value
              " alt="Shop Logo" />
          </a>
          <br />
          <div class="form-group">
            <input id="logo" accept=".png, .jpg" type="file" (change)="onUpload($event)" />
            <div class="progress">
              <div [style.visibility]="uploadPercent == 0 ? 'hidden' : 'visible'"
                class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadPercent | async) + '%'"></div>
            </div>
          </div>
          <input #logoUser type="hidden" [value]="urlImage | async" />
        </div>

        <div class="form-group">
          <label>Vendor Name</label>
          <input type="text" class="form-control" [(ngModel)]="ven_name" name="ven_name" required />
        </div>

        <div class="form-group">
          <label>Shop Name</label>
          <input type="text" class="form-control" [(ngModel)]="shopname" name="shopname" required />
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" class="form-control" [(ngModel)]="latitude" name="latitude" required />
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" class="form-control" [(ngModel)]="longitude" name="longitude" required />
        </div>

        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" [(ngModel)]="address" name="address" required />
        </div>

        <div class="form-group">
          <label>Phone Number 1</label>
          <input type="tel" class="form-control" [(ngModel)]="phone1" name="phone1" required />
        </div>

        <div class="form-group">
          <label>Phone Number 2</label>
          <input type="tel" class="form-control" [(ngModel)]="phone2" name="phone2" required />
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required />
        </div>

        <div class="form-group">

          <label>Expire Date</label>
          <input type="date" class="form-control" [(ngModel)]="date" name="date">

        </div>

        <div class="form-group">

          <label>Status</label>
          <select class="form-control" name="status" id="status" [(ngModel)]="status" type="text">
            <option value="active">Active</option>
            <option value="inactive">InActive</option>
            <option value="expired">Expired</option>
          </select>

        </div>

        <input type="submit" value="Submit" class="btn btn-success" />
      </form>
    </div>
  </section>
</div>