<section class="row mt-5">
	<div class="col">

		<a [routerLink]="['/add-district']">Back</a>
		<br />
		<h2 class="page-header">Add New District</h2>
		<form (submit)="addDistrict()">

			<div class="form-group">
				<label>District Name</label>
				<input class="form-control" type="text" [(ngModel)]="districtName" name="districtName" required>
			</div>


			<div class=" form-group ">
				<label>City Name</label>
				<select class=" form-control" [(ngModel)]="city" name="city" id="city">
					<option *ngFor="let city of cities" [value]="city.$key">{{city.name}}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Status</label>
				<select class="form-control" type="text" [(ngModel)]="status" name="status">
					<option value="active">Active</option>
					<option value="inactive">InActive</option>
				</select>
			</div>

			<input type="submit" value="submit" class="btn btn-success">
		</form>


	</div>
</section>