<h2 style ="padding-top:80px;">Today's Report</h2>

<ul class = "list-group">

	<div class="row" >
		  <div class="col-xs-12 col-md-12" >
		  
		  <div class="panel panel-default" >
			  <!-- Table -->
			  <table class="table">
				<tr>
					
					<td style = "width:15%;">
						<b style = "text-align: center;">Report Image</b>
					</td>
					
					<td style = "width:10%;">					
						<b style = "text-align: center;">Restaurant Name</b>
					</td>
					
					<td style = "width:10%;">					
						<b style = "text-align: center;">Owner Phone</b>
					</td>
					
					<td style = "width:25%;">					
						<b style = "text-align: center;">Owner Email</b>
					</td>
					
				
				<!--
					<td style = "width:10%;">					
						<b style = "text-align: center;">Total</b>
					</td>
					-->
					
					<td style = "width:15%;text-align:center;">
						<b style = "text-align: center;">Total Sales of Owner</b>
					</td>	
					
					<td style = "width:5%;text-align:center;">
						<b style = "text-align: center;">Fee</b>
					</td>	
				

					<td style = "width:20%;text-align:center;">
						<b style = "text-align: center;">Action</b>
					</td>					
					
					
				</tr>
			  </table>
			  
			  
			  
			  <table class="table" *ngFor="let order of results">
				<tr>
					
					<td style = "width:15%;">
						<!--	<img style="width:100px;height:60px;" class="thumbnail" src="{{order.items[0].image}}">-->
						<img style="width:160px;height:80px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/forumapp-39f68.appspot.com/o/84584187-0a09-437f-a600-70ef86afc97a.jpg?alt=media&token=9bdf6c75-6739-4173-b44a-16e3c9749595">
						
						
					</td>
					
					<td style = "width:10%;">
						
						<p>{{order.restaurantName}}</p>
					</td>
					
					<td style = "width:10%;">
						
						<p>{{order.phone}}</p>
					</td>
					
					<td style = "width:25%;" *ngIf="order">
						
						
						<!--
						<p><b>FirstName:      </b> {{order.displayName}}</p>
						<p><b>LastName:     </b> {{order.lastName}}</p>
						-->
						
						<p >
						
						 {{order.email}}
						</p>
						
						
						
					</td>
					
					
					<td style = "width:15%;">
						
						
						<p *ngIf="order">
						   {{order.total}}$
						   
						</p>
						
					</td>
					
					
					
				
				<td style = "width:5%;">
					<p *ngIf="order.fee">{{order.fee}}$</p>
																
					<p *ngIf="!order.fee">0 $</p>
						
						
					</td>
			

					<td style = "width:20%;text-align:center;">
					<!--
						<a class = "btn btn-default" [routerLink] = "['/order-details/'+order.$key]">View</a>
						-->
						
						<a class = "btn btn-warning" style = "width:47%;" [routerLink] = "['/suspend-restaurant/'+order.restaurantOwnerId]" >Activated</a>
						<a class = "btn btn-success" style = "width:47%;" [routerLink] = "['/active-restaurant/'+order.restaurantOwnerId]" >Suspended</a>
					</td>	
					

					
					
				</tr>
			  </table>
			  
			  
			   
			  
			 
			  
			  
		</div>
				
				
				
				
				
				
				
			
				
				
		  </div>
	</div>
	
	

</ul>



