<!-- <section class="row mt-5">

    <div class="col-sm-9">

        <a [routerLink]="['/orders']">All Orders</a>

        <br>

        <h2 class=" page-header ">Place A New Order</h2>

        <div class=" container ">

            <form name="formBook" #formBook="ngForm" (ngSubmit)="onOrderAddSubmit()">

                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" name="name" [(ngModel)]="name" class="form-control" required>
                </div>

                <div class="form-row">

                    <div class="col">

                        <div class="form-group">
                            <label>Item</label>
                            <select name="items" id="items" [(ngModel)]="items" class="form-control"
                                (change)="setItemDetails($event)">
                                <option *ngFor="let item of itemList" [value]="item.$key">{{item.name}}</option>
                            </select>
                        </div>

                    </div>


                    <div class="col">

                        <div class="form-group">
                            <label>Item Price</label>
                            <input type="number" name="item_price" [(ngModel)]="item_price" class="form-control"
                                (change)="addMethod()">
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label>Vendor Name</label>
                    <select class="form-control" name="ven_name" [(ngModel)]="ven_name" id="ven_name">
                        <option *ngFor="let vendor of vendorList" [value]="vendor.$key">{{vendor.ven_name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control">
                </div>

                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="tel" name="phone" [(ngModel)]="phone" class="form-control">
                </div>

                <div class="form-row">

                    <div class="col">

                        <div class="form-group">
                            <label>City</label>
                            <select class="form-control" name="city" [(ngModel)]="city" (change)=setCityDetails($event)>
                                <option *ngFor="let city of cityList" [value]="city.$key">{{city.name}}</option>
                            </select>
                        </div>


                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label>District Name</label>
                            <select name="district" [(ngModel)]="district" class="form-control">
                                <option *ngFor="let district of districtList" [value]="district.$key">{{district.name}}</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <label>Address</label>
                    <input type="text" name="address" [(ngModel)]="address" class="form-control">

                </div>

                <div class="form-group">

                    <label>Shipping Fee</label>
                    <input type="number" name="shipping_fee" [(ngModel)]="shipping_fee" (change)="addMethod()" class="form-control">

                </div>

                <div class="form-row">
                    <div class="col">

                        <div class="form-group">
                            <label>Item Quantity</label>
                            <input type="number" name="item_qty" [(ngModel)]="item_qty" (change)="addMethod()"
                                class="form-control">
                        </div>

                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label>Sub Total</label>
                            <input type="number" name="subtotal" [(ngModel)]="subtotal" (change)="addMethod()"
                                class="form-control">
                        </div>

                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label>Total Amount</label>
                            <input type="number" name="total_amount" [(ngModel)]="total_amount" (change)="addMethod()"
                                class="form-control">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <input type="text" name="status" [(ngModel)]="status" class="form-control">

                </div>

                <div class="form-group">
                    <label>Order Status</label>
                    <select name="order_status" [(ngModel)]="order_status" class=" form-control">
                        <option value="pending">Pending</option>
                        <option value="delivered">Delivered</option>
                        <option value="paid">Paid</option>
                        <option value="inprogress">InProgress</option>

                    </select>
                </div>

                <input type="submit" value="Submit" class="btn btn-success">

            </form>

        </div>

    </div>

    <div class="col-sm-3">
        <h2>Item Image</h2>
        <img src="{{item_image}}" [(ngModel)]="item_image" alt="">
    </div>

</section> -->