<div style="padding-top:30px;">
  <a [routerLink]="['/categories']">Back</a>
  <br />
  <h2 class="page-header">Edit Category</h2>

</div>
<form (submit)="onCategoryEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="cat_id" name="cat_id" required>
  </div>
  <div class="form-group">
    <label>Category Name</label>
    <input class="form-control" type="text" [(ngModel)]="cat_name" name="cat_name" required>
  </div>

  <!-- <div class="form-group">
    <label>Restaurant</label>

    <select class="form-control" type="text" [(ngModel)]="res_name" name="res_name" required>

      <option *ngFor="let restaurant of restaurants" [value]="restaurant.$key">{{restaurant.title}}</option>

    </select>

  </div> -->

  <div class="form-group">
    <label for="parcat">Parent Category</label>
    <select type="text" class="form-control" [(ngModel)]="parent_category_id" name="parcat" id="parcat">
      <option *ngFor="let category of parent_categories" [value]="category.$key">{{category.cat_name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" id="status" [(ngModel)]="status" class="form-control" aria-placeholder="Status">
      <option value="active">Active</option>
      <option value="inactive">InActive</option>
    </select>

  </div>

  <div class="form-group" *ngIf="!this.inputImageUser.nativeElement.value">

    <img style="width:25%;height:150px;" class="thumbnail" src="{{firebase_url}}">


  </div>

  <div class="form-group" *ngIf="this.inputImageUser.nativeElement.value">

    <img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">


  </div>

  <hr>
  <div class="form-group">
    <h5>Select image:</h5>
    <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
  </div>
  <div class="progress">
    <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'"
      class="progress-bar progress-bar-striped bg-success" role="progressbar"
      [style.width]="(uploadPercent | async) +'%'">

    </div>
  </div>

  <br>
  <input #imageUser type="hidden" [value]="urlImage | async">





  <input type="submit" value="submit" class="btn btn-success">
</form>