<section class="row mt-5">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Address</th>
          <th scope="col">Phonenumber</th>
		  <th scope="col">Latitude</th>
		  <th scope="col">Longitude</th>
          <th scope="col">Information</th>
		  <th scope="col">Outlet</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants; index as i">
          <th scope="row">{{i+1}}</th>
          <td>
	  
		  <img style="width:150px;height:100px;" class="thumbnail" src="{{restaurant.firebase_url}}">
		  </td>
          <td>{{restaurant.title}}</td>
          <td>{{restaurant.address}}</td>
          <td>{{restaurant.phonenumber}}</td>
          <td>{{restaurant.lat}}</td>
		  <td>{{restaurant.long}}</td>
		  <td>{{restaurant.info}}</td>
		  <td>{{restaurant.outlet}}</td>
          <td>
		  <!--
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" >Update</button>
			-->
			<button class="btn btn-primary" routerLink="/restaurant-details/{{restaurant.$key}}">More Info</button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true" >Update</button>
			  
			  
			  
            </td>
          </ng-template>
		  <!--
          <td >
            <button class="btn btn-danger" (click)="onRestaurantDelete(restaurant.$key)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>
		  
		  -->
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal [userUid]="userUid"></app-modal>