<section id="login" class="mb-5 mt-5">

  <div class="container" style="background-image: 'assets/ionic4multi.jpg'">

    <h3 style="text-align:center;">MULTI VENDOR SUPER ADMIN WEBBACKEND</h3>

    <div class="row">
      <div class="col">
        <h2 class=" page-header">Login</h2>
        <form (ngSubmit)="onLogin()">
          
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-lg btn-secondary btn-block">Login</button>

        </form>
      </div>
    </div>

  </div>
</section>