<section class="row mt-5">
	<div class="col">


		<div *ngIf="cities">

			<br>

			<h2 class="page header">City List</h2>

			<div class="text-right">
				<button class="btn btn-danger text-right">
					<a [routerLink]="['/add-new-city']" style="color:white;">Add City</a>
				</button>
			</div>

			<br>
			
			<div class="row">
				<div class="col-md-4">

				</div>


				<table class="table">
					<tr>
						<td style="width:20%;">
							<b style="text-align: center;">City ID</b>
						</td>


						<td style="width:20%;">
							<b style="text-align: center;">City Name</b>
						</td>

						<td style="width:20%;">
							<b style="text-align: center;">Status</b>
						</td>

						<td style="width:20%;">
							<b style="text-align: center;">Shipping Fee</b>
						</td>

						<td style="width:20%;">
							<b style="text-align: center;">Action</b>
						</td>

					</tr>

				</table>

				<div *ngFor="let item of cities" style="width:100%;">

					<div style="background-color:#00bfff;color:white;width:100%;">

					</div>

					<table class="table">


						<tr>
							<td style="width:20%;">
								<p style="text-align: left;">{{item.$key}}</p>
							</td>


							<td style="width:20%;">
								<p style="text-align: left;">{{item.name}}</p>
							</td>


							<td style="width:20%;">
								<p style="text-align: left;">{{item.status}}</p>
							</td>


							<td style="width:20%;">
								<p style="text-align: left;">{{item.shippingfee}}</p>
							</td>


							<td style="width:20%;">

								<button class="btn btn-warning">
									<a [routerLink]="['/edit-city/'+item.$key]"
										style="text-align: center;color:white;">Edit City</a>

								</button>

								<button (click)="deleteCity(item.$key)" class="btn btn-success">
									<a style="text-align: center;color:white;">Delete</a>
								</button>

							</td>

						</tr>

					</table>

				</div>

			</div>

		</div>

	</div>

</section>