<div class="container">
	<section class="row mt-5">
		<div class="col">
	
			<div *ngIf="item">
	
				<a [routerLink]="['/items']">Go back </a>
				<br>
				<h2 class="page header"> {{item.name}}</h2>
				<h4 class="page-header"> {{ getCategoryName(item.categories)}}</h4>
				<div class="row">
					<div class="col-md-4">
						<img style="width:100%" class="thumbnail" src="{{item.image_firebase_url}}">
					</div>
	
					<div class="col-md-8">
						<ul class="list-group">
							<li class="list-group-item">Description: {{item.description}}</li>
							<li class="list-group-item">Sort: {{item.sort}}</li>
							<li class="list-group-item">Image: {{item.image}}</li>
							<li class="list-group-item">Price: {{item.price}}</li>
							<li class="list-group-item">Sale Price: {{item.saleprice}}</li>
							<li class="list-group-item">Percent : {{item.percent}} Off</li>
							<li class="list-group-item">Stock: {{item.stock}}</li>
							<li class="list-group-item">Available: {{item.available}}</li>
							<li class="list-group-item">New Arrival: {{item.new_arrival}}</li>
							<li class="list-group-item">Sort: {{item.sort}}</li>
							<li class="list-group-item">Sub Category: {{getCategoryName(item.sub_category)}}</li>
							<li class="list-group-item">Vendor: {{getvendorName(item.vendor)}}</li>
							<li class="list-group-item">Feature: {{item.feature}}</li>
							<li class="list-group-item">Status: {{item.status}}</li>
							<li class="list-group-item">Sizes: <span *ngFor="let size of sizes">{{size}} , </span></li>
							<li class="list-group-item">Colors: <span *ngFor="let color of colors" >{{color}} , </span></li>
						</ul>
	
	
	
					</div>
	
	
	
	
				</div>
	
				<div>
					<a class="btn btn-primary" [routerLink]="['/edit-item/'+item.$key]">Edit Item</a>
					<a (click)="onItemDelete()" class="btn btn-danger" style="margin-left:10px;">Delete Item</a>

				</div>
	
	
			</div>
	
		</div>
	
	</section>
</div>
