<section class="row mt-5">
  <div class="col">

		<a [routerLink]="['/add-building']">Back</a>
		<br />
		<h2 class="page-header">Add New Buildings</h2>
		<form (submit)="addBuildingName()">
		  <div class="form-group">
			<label>Building Name</label>
			<input class="form-control" type="text" [(ngModel)]="buildingName" name="buildingName" required>
		  </div>
		  
		  
		  <input type="submit" value="submit" class="btn btn-success">
		</form>
		
	</div>
	
</section>