<section class="row mt-5">
	<div class="col">
		<ul class="list-group">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="panel panel-default">
						<!-- Table -->
						<table class="table">
							<thead>

								<tr class="text-center">
									<th scope="col">#</th>
									<th scope="col" (click)="setOrder('createdAt')">
										Date &amp; Time
									</th>

									<th scope="col" (click)="setOrder('name')">
										Customer Name
									</th>

									<th scope="col" (click)="setOrder('contactNumber')">
										Customer Phone
									</th>

									<th scope="col" (click)="setOrder('city')">
										City
									</th>

									<th scope="col" (click)="setOrder('district')">
										District
									</th>

									<th scope="col" (click)="setOrder('email')">
										Email Address
									</th>

									<th scope="col" (click)="setOrder('total')">
										Total
									</th>

									<th scope="col" (click)="setOrder('shipping')">
										Shipping
									</th>

									<th scope="col" (click)="setOrder('paymentMethod')">
										Payment Method
									</th>

									<th scope="col" (click)="setOrder('address')">
										Address
									</th>

									<th class="text-center"scope="col">
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center" *ngFor="let item of orders | orderBy: order:reverse:'case-insensitive'; index as i">
									<th scope="row">{{i+1}}</th>

									<th>
										{{ item.createdAt | date }}
									</th>

									<th>
										{{ item.name }}
									</th>

									<th>
										{{ item.contactNumber}}
									</th>

									<th>
										{{ getCityName(item.city)}}
									</th>

									<th>
										{{ getDistrictName(item.district)}}
									</th>

									<th>
										{{ item.email }}
									</th>

									<th>
										{{ item.total | currency }}
									</th>

									<th>
										{{ item.shipping | currency }}
									</th>

									<th>
										{{ item.paymentMethod }}
									</th>

									<th>
										{{ item.address }}
									</th>

									<th>
										<a class="btn btn-primary"
											[routerLink]="['/order-details/' + item.$key]">View</a>
									</th>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</ul>
	</div>
</section>