<div class="container">
	<section class="row mt-5">
		<div class="col">
	
			<div *ngIf="order_details">
	
				<a [routerLink]="['/orders']">Go back </a>
				<br>
				<div class="row">
					<div class="col-md-12">
						<h2 class="page header"> Order Details  <small>{{order_details.createdAt | date}}</small> </h2>
						<ul class="list-group">
							<li class="list-group-item">Customer Name: {{order_details.name}}</li>
							<li class="list-group-item">Address: {{order_details.address}}</li>
							<li class="list-group-item">Contact Number: {{order_details.contactNumber}}</li>
							<li class="list-group-item">Payment Method: {{order_details.paymentMethod}}</li>
							<li class="list-group-item">City: {{getCityName(order_details.city)}}</li>
							<li class="list-group-item">District: {{ getDistrictName(order_details.district)}}</li>
							<li class="list-group-item">Shipping: {{order_details.shipping  | currency}}</li>
							<li class="list-group-item">Email: {{order_details.email}}</li>
							<li class="list-group-item" *ngIf="isVendor">Status: <span *ngIf="isIndex">{{order_details.vendors[index].status}}</span> 
								<select name="status" [(ngModel)]="status" (change)="updateVendorOrderStatus()" class="form-control">
								   <option value="Pending" selected="true">قيد الانتظار</option>
								   <option value="Rejected"> تم الرفض</option>
								   <option value="Approved">تم الموافقة</option>
							   </select></li>
						</ul>
	
					</div>
				</div>
				<div *ngIf="isAdmin">
					<h2>Vendor Status</h2>
					<div class="row">
						<div class="col-md-4" *ngFor="let item of order_details.vendors">
							<h4><small> NAME : </small>{{getVendorName(item.vendor_id)}}</h4>
							<h6>ORDER STATUS : {{item.status}}</h6>
						</div>
					</div>
				</div>
	
				<h2>Items Detail</h2>
				<div class="row">
					<div class="col-md-3" *ngFor="let item of itemList">
					<div class="card">
						<img class="card-img-top" style="height: 150px;" src="{{item.image_firebase_url}}">
						<div class="card-body">
						  <h5 class="card-title">{{item.name}}</h5>
						  <h6 class="text-black-50">Color: {{item.selectedColor}}</h6>
						  <h6 class="text-black-50">Size: {{item.selectedSize}}</h6>
						  <ul class="list-group">
							<li class="list-group-item" *ngIf="isAdmin">Vendor: {{getVendorName(item.vendor)}}</li>
							<li class="list-group-item">Available: {{item.available}}</li>
							<li class="list-group-item">Price: {{item.price  | currency}}</li>
							<li class="list-group-item">Status: {{item.status}}</li>
							<li class="list-group-item">Category: {{getCategoryName(item.categories)}}</li>
							<li class="list-group-item">SubCategory: {{getCategoryName(item.sub_category)}}</li>
						</ul>
						</div>
					  </div>
					</div>
				</div>
	
	
	
			</div>
	
		</div>
	
	</section>
</div>
