<ul class = "list-group">


	<h2>Active Restaurants</h2>
	<div class="row" >
		  <div class="col-xs-12 col-md-12" >
		  
		  <div class="panel panel-default" >
			  <!-- Table -->
			  <table class="table">
				<tr>
					
					<td style = "width:25%;">
						<b style = "text-align: center;">Shop Image</b>
					</td>
					<td style = "width:25%;">
						<p style = "text-align: center;"><b >Shop Name</b></p>
					</td>
					
					<td style = "width:25%;">					
						<p style = "text-align: center;"><b >Phonenumber</b></p>
					</td>

					<td style = "width:25%;">
						<p style = "text-align: center;"><b> Action</b></p>
					</td>					
					
					
				</tr>
			  </table>
			  
			  
			  <table class="table" *ngFor="let restaurant of restaurants">
			  
			  
			  
				<tr>
					
					<td style = "width:25%;">
						<img style="width:240px;height:100px;" class="thumbnail" src="{{restaurant.firebase_url}}">
					</td>
					<td style = "width:25%;">
						<p style = "text-align: center;">{{restaurant.title}}</p>
					</td>
			
				
					<td style = "width:25%;">					
						<p style = "text-align: center;">{{restaurant.phonenumber}}</p>
					</td>
					
					<td style = "width:25%;text-align:center;">
					
						
						<a (click)="onSuspendRestaurant(restaurant)" class = "btn btn-danger" >Suspend</a>
					</td>					
					
					
				</tr>
				
				
			  </table>
		</div>
				
				
				
				
				
				
				
			
				
				
		  </div>
	</div>
	
	
	
	


</ul>