<section class="row mt-5">
	<div class="col">

		<a [routerLink]="['/items']">Back</a>
		<br />
		<h2 class="page-header">Edit City</h2>
		<form (submit)="onCityEditSubmit()">
			<div class="form-group">
				<label>City Name</label>
				<input class="form-control" type="text" [(ngModel)]="cityName" name="cityName" required>
			</div>

			<div class="form-group">
				<label for="status">Status</label>
				<select class="form-control" name="status" id="status" [(ngModel)]="status" name = "status">
					<option value="active">Active</option>
					<option value="inactive">InActive</option>
				</select>
			</div>

			<div class="form-group">
				<label for="fee">Shipping Charges </label>
				<input type="number" class="form-control" id="fee" [(ngModel)]="shippingfee" name ="shippingfee"
					placeholder="Shipping Charges">
			</div>

			<input type="submit" value="submit" class="btn btn-success">
		</form>


	</div>
</section>