<ul class = "list-group" style ="padding-top:80px;">

		
		<h2 *ngIf="!check">{{thisYear}}/{{month_id}} Month Report By Restaurant Owners</h2>
		<h2 *ngIf="check">{{thisYear}}/{{month_id}}/{{check}} Day Report By Restaurant Owners</h2>
		
		
		<div class="col-xs-8 col-md-8" >
		
		</div>
		
		
		<div class="col-xs-2 col-md-2" >
		
								<select class="form-control" type="text" [(ngModel)]="status" name="status">
								  <option value="1">{{thisYear}}/{{month_id}}/1</option>
								  <option value="2">{{thisYear}}/{{month_id}}/2</option>
								  <option value="3">{{thisYear}}/{{month_id}}/3</option>
								  
								  <option value="4">{{thisYear}}/{{month_id}}/4</option>
								  <option value="5">{{thisYear}}/{{month_id}}/5</option>
								  <option value="5">{{thisYear}}/{{month_id}}/6</option>
								  
								  <option value="7">{{thisYear}}/{{month_id}}/7</option>
								  <option value="8">{{thisYear}}/{{month_id}}/8</option>
								  <option value="9">{{thisYear}}/{{month_id}}/9</option>
								  
								  <option value="10">{{thisYear}}/{{month_id}}/10</option>
								  <option value="11">{{thisYear}}/{{month_id}}/11</option>
								  <option value="12">{{thisYear}}/{{month_id}}/12</option>
								  
								  <option value="13">{{thisYear}}/{{month_id}}/13</option>
								  <option value="14">{{thisYear}}/{{month_id}}/14</option>
								  <option value="15">{{thisYear}}/{{month_id}}/15</option>
								  
								  <option value="16">{{thisYear}}/{{month_id}}/16</option>
								  <option value="17">{{thisYear}}/{{month_id}}/17</option>
								  <option value="18">{{thisYear}}/{{month_id}}/18</option>
								  
								  <option value="19">{{thisYear}}/{{month_id}}/19</option>
								  <option value="20">{{thisYear}}/{{month_id}}/20</option>
								  <option value="21">{{thisYear}}/{{month_id}}/21</option>
								  
								  
								  <option value="22">{{thisYear}}/{{month_id}}/22</option>
								  <option value="23">{{thisYear}}/{{month_id}}/23</option>
								  <option value="24">{{thisYear}}/{{month_id}}/24</option>
								  
								  
								  <option value="25">{{thisYear}}/{{month_id}}/25</option>
								  <option value="26">{{thisYear}}/{{month_id}}/26</option>
								  <option value="27">{{thisYear}}/{{month_id}}/27</option>
								  
								   <option value="28">{{thisYear}}/{{month_id}}/28</option>
								  <option value="29">{{thisYear}}/{{month_id}}/29</option>
								  <option value="30">{{thisYear}}/{{month_id}}/30</option>
								  <option value="31">{{thisYear}}/{{month_id}}/31</option>
								  
								  
								</select>
								
			
								
		</div>
		
		
		<div class="col-xs-2 col-md-2" >
		
								 <button (click)="getDayOrder(status)" class="btn btn-success" style ="width:100%">
			 Show Day Report
			</button>
		
		</div>
		
		

	<div class="row" >
		  <div class="col-xs-12 col-md-12" >
		  
		  
		
		  
		  <div class="panel panel-default" >
			  <!-- Table -->
			  <table class="table">
				<tr>
					
					<td style = "width:15%;">
						<b style = "text-align: center;">Report Image</b>
					</td>
					
					<td style = "width:10%;">					
						<b style = "text-align: center;">Restaurant Name</b>
					</td>
					
					<td style = "width:10%;">					
						<b style = "text-align: center;">Owner Phone</b>
					</td>
					
					<td style = "width:25%;">					
						<b style = "text-align: center;">Owner Email</b>
					</td>
					
				
				<!--
					<td style = "width:10%;">					
						<b style = "text-align: center;">Total</b>
					</td>
					-->
					
					<td style = "width:15%;text-align:center;">
						<b style = "text-align: center;">Total Sales of Owner</b>
					</td>	
					
					<td style = "width:5%;text-align:center;">
						<b style = "text-align: center;">Fee</b>
					</td>	
				

					<td style = "width:20%;text-align:center;">
						<b style = "text-align: center;">Action</b>
					</td>					
					
					
				</tr>
			  </table>
			  
			  
			  
			  <table class="table" *ngFor="let order of results;let i = index">
				<tr>
					
					<td style = "width:15%;">
						<!--	<img style="width:100px;height:60px;" class="thumbnail" src="{{order.items[0].image}}">-->
						<img style="width:160px;height:80px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/forumapp-39f68.appspot.com/o/84584187-0a09-437f-a600-70ef86afc97a.jpg?alt=media&token=9bdf6c75-6739-4173-b44a-16e3c9749595">
						
						
					</td>
					
					<td style = "width:10%;">
						
						<p>{{order.restaurantName}}</p>
					</td>
					
					<td style = "width:10%;">
						
						<p>{{order.phone}}</p>
					</td>
					
					<td style = "width:25%;" *ngIf="order">
						
						
						<!--
						<p><b>FirstName:      </b> {{order.displayName}}</p>
						<p><b>LastName:     </b> {{order.lastName}}</p>
						-->
						
						<p >
						
						 {{order.email}}
						</p>
						
						
						
					</td>
					
					
					<td style = "width:15%;">
						
						
						<p *ngIf="order">
						   {{order.total}}$
						   
						</p>
						
					</td>
					
					
					
				
				<td style = "width:5%;">
					<p *ngIf="order.fee">{{order.fee}}$</p>
																
					<p *ngIf="!order.fee">0 $</p>
						
						
					</td>
			

					<td style = "width:20%;text-align:center;">
					<!--
						<a class = "btn btn-default" [routerLink] = "['/order-details/'+order.$key]">View</a>
						-->
						
						<a class = "btn btn-warning" style = "width:47%;" [routerLink] = "['/suspend-restaurant/'+order.restaurantOwnerId]" >Activated</a>
						<a class = "btn btn-success" style = "width:47%;" [routerLink] = "['/active-restaurant/'+order.restaurantOwnerId]" >Suspended</a>
					</td>	
					

					
					
				</tr>
			  </table>
			  
			  
			   
			  
			 
			  
			  
		</div>
				
				
				
				
				
				
				
			
				
				
		  </div>
	</div>
	
	

</ul>



