<!--<section class="row mt-5">
  <div class="col">
    <a [routerLink]="['/orders']">Back</a>
    <br />
    <h2 class="page-header">Update Order Status</h2>

    <form (submit)="onStatusOrderSubmit()">
      <ul class="list-group" *ngIf="order_details">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">-->
<!-- Table -->
<!--  <table class="table">

                <tr>
                  <td style="width: 15%;">
                    <b style="text-align: center;">Product Image</b>
                  </td>
                  <td style="width: 15%;">
                    <b style="text-align: center;">Customer Name</b>
                  </td>

                  <td style="width: 10%;">
                    <b style="text-align: center;">Total</b>
                  </td>
                  <td style="width: 10%;">
                    <b style="text-align: center;">Payment type</b>
                  </td>

                  <td style="width: 20%;">
                    <b style="text-align: center;">Status</b>
                  </td>

                  <td style="width: 10%;">
                    <b style="text-align: center;">Date</b>
                  </td>

                  <td style="width: 20%; text-align: center;">
                    <b style="text-align: center;">Action</b>
                  </td>
                </tr>
              </table>

              <table class="table">
                <tr>
                  <td style="width: 15%;">
					<img style="width: 100px; height: 40px;" class="thumbnail" src="{{ order_details.items[0].image }}" />
                  </td>

                  <td style="width: 15%;">
                    <p style="text-align: left;">
                      {{ order_details.customerDetails.displayName }}
                    </p>
                  </td>

                  <td style="width: 10%;">
                    <p style="text-align: left;">{{ order_details.total }}$</p>
                  </td>

                  <td style="width: 10%;">
                    <p style="text-align: left;">
                      {{ order_details.payments.PaymentType }}
                    </p>
                  </td>

                  <td style="width: 20%;">
					<select class="form-control" type="text" [(ngModel)]="status" name="status">
                      <option value="Queued">Queued</option>
                      <option value="Delivered">Delivered</option>
                      <option value="Canceled">Canceled</option>
                    </select>
                    <p style="text-align: center;">
                      {{ order_details.status }}
                    </p>
                  </td>

                  <td style="width: 10%;">
                    <p style="text-align: center;">
                      {{ order_details.timeStamp | date }}
                    </p>
                  </td>

                  <td style="width: 20%; text-align: center;">
                    <input
                      type="submit"
                      value="submit"
                      class="btn btn-success"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ul>
    </form>
  </div>
</section>-->
<!-- <section class="row mt-5">

  <div class="col-sm-9">

    <a [routerLink]="['/orders']">All Orders</a>

    <br>

    <h2 class=" page-header ">Update Order</h2>

    <div class=" container ">

      <form name="formBook" #formBook="ngForm" (ngSubmit)="onStatusOrderSubmit()">

        <div class="form-group">
          <label>Customer Name</label>
          <input type="text" name="name" [(ngModel)]="name" class="form-control" required>
        </div>

        <div class="form-row">

          <div class="col">

            <div class="form-group">
              <label>Item</label>
              <select name="items" [(ngModel)]="items" class="form-control" (change)="setItemDetails($event)">
                <option *ngFor="let item of itemList" [value]="item.$key">{{item.name}}</option>
              </select>
            </div>

          </div>


          <div class="col">

            <div class="form-group">
              <label>Item Price</label>
              <input type="number" name="item_price" [(ngModel)]="item_price" class="form-control"
                (change)="addMethod()">
            </div>

          </div>

        </div>

        <div class="form-group">
          <label>Vendor Name</label>
          <select class="form-control" name="ven_name" [(ngModel)]="ven_name" id="ven_name">
            <option *ngFor="let vendor of vendorList" [value]="vendor.$key">{{vendor.ven_name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="email" class="form-control">
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="tel" name="phone" [(ngModel)]="phone" class="form-control">
        </div>

        <div class="form-row">

          <div class="col">

            <div class="form-group">
              <label>District Name</label>
              <select name="district" id="district" [(ngModel)]="district" class="form-control">
                <option *ngFor="let district of districtList" [value]="district.$key">{{district.name}}</option>
              </select>
            </div>

          </div>

          <div class="col">

            <div class="form-group">
              <label>City</label>
              <select class="form-control" name="city" [(ngModel)]="city" (change)=setCityDetails($event)>
                <option *ngFor="let city of cityList" [value]="city.$key">{{city.name}}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="form-group">

          <label>Address</label>
          <input type="text" name="address" [(ngModel)]="address" class="form-control">

        </div>

        <div class="form-group">

          <label>Shipping Fee</label>
          <input type="number" name="shipping_fee" [(ngModel)]="shipping_fee" (change)="addMethod()"
            class="form-control">

        </div>

        <div class="form-row">
          <div class="col">

            <div class="form-group">
              <label>Item Quantity</label>
              <input type="number" name="item_qty" [(ngModel)]="item_qty" (change)="addMethod()" class="form-control">
            </div>

          </div>

          <div class="col">

            <div class="form-group">
              <label>Sub Total</label>
              <input type="number" name="subtotal" [(ngModel)]="subtotal" (change)="addMethod()" class="form-control">
            </div>

          </div>

          <div class="col">

            <div class="form-group">
              <label>Total Amount</label>
              <input type="number" name="total_amount" [(ngModel)]="total_amount" (change)="addMethod()"
                class="form-control">
            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Status</label>
          <input type="text" name="status" [(ngModel)]="status" class="form-control">

        </div>

        <div class="form-group">
          <label>Order Status</label>
          <select name="order_status" [(ngModel)]="order_status" class=" form-control">
            <option value="pending">Pending</option>
            <option value="delivered">Delivered</option>
            <option value="paid">Paid</option>
            <option value="inprogress">InProgress</option>

          </select>
        </div>

        <input type="submit" value="Submit" class="btn btn-success">

      </form>

    </div>

  </div>

  <div class="col-sm-3">
    <h2>Item Image</h2>
    <img src="{{item_image}}" [(ngModel)]="item_image" alt="">
  </div>

</section> -->